{% extends 'base.html' %}
{% block title %} {{name}} {% endblock %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{name}}
                </h5>
                <p> country: {{country}}</p>
                <p> postal code : {{postal}}</p>
                <p> delivery due date: {{delivery}}</p>
                <p>interested? <a href="https://wa.me{{phone}}">contact {{name}} here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}