{% extends 'base.html' %}
{% load i18n %}
{% block title %} {{name}} {% endblock %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{name}}
                </h5>
                <p>{% blocktrans %}pais: {{country}}{% endblocktrans %}</p>
                <p>{% blocktrans %}codigo postal : {{postal}}{% endblocktrans %}</p>
                <p>interested? <a href="https://wa.me{{phone}}">{% blocktrans %}contacte a {{name}} aqui{% endblocktrans %}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}