{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" class="img-fluid
rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{name}}
                </h5>
                <p> stock: {{stock}}</p>
                <p>famer: {{farmer_name}}</p>
                <p>country: {{country}}</p>
                <p>origin: {{origin}}</p>
                <p>destination: {{destination}}</p>
                <p> delivery due date: {{delivery}}</p>
                <p>wanna learn more about {{name}} <a href="{% url 'farmer_person' farmer_id %}">click here</a></p>
                <p><a href="https://wa.me{{phone}}">contact {{farmer_name}} here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}