{% extends 'base.html' %}
{% load i18n %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" class="img-fluid
rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{name}}
                </h5>
                <p>{% blocktrans %} disponible: {{stock}}{% endblocktrans %}</p>
                <p>{% blocktrans %}granjero: {{farmer_name}}{% endblocktrans %}</p>
                <p>{% blocktrans %}pais: {{country}}{% endblocktrans %}</p>
                <p>{% blocktrans %}origen: {{origin}}{% endblocktrans %}</p>
                <p>{% blocktrans %}destino: {{destination}}{% endblocktrans %}</p>
                <p>{% blocktrans %}fecha de entrega: {{delivery}}{% endblocktrans %}</p>
                <p>{% blocktrans %}conozca mas de {{farmer_name}}{% endblocktrans %} <a href="{% url 'farmer_person' farmer_id %}">click here</a>
                </p>
                <p><a href="https://wa.me{{phone}}">{% blocktrans %}contacte a {{farmer_name}} aqui{% endblocktrans %}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}