<!-- myapp/templates/myapp/login.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <h2>{% trans "sesion" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} <!-- Formulario de Login incorporado de Django -->
        <button type="submit" class="btn btn-primary">{% trans "iniciar sesion" %}</button>
    </form>
    <hr>
    <p>{% trans "¿No tienes una cuenta?" %}<a href="{% url 'register_select_type' %}" class="btn btn-success">{% trans "Regis..." %}</a></p>
{% endblock %}
