{% extends 'base.html' %}
{% load i18n %}

{% block title %}Registrar Agricultor - Agroconnect{% endblock %}

{% block header_title %}{% trans "Registro de agricultor" %}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>{% trans "Registro de agricultor" %}</h2>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <h4>{% trans "info" %}</h4>
                        {{ form.as_p }} <!-- Formulario de Usuario -->
                    </div>
                    <div class="col-md-6">
                        <h4>{% trans "Perfil de agricultor" %}</h4>
                        {{ farmer_form.as_p }} <!-- Formulario de Farmer -->
                    </div>
                </div>
                <button type="submit" class="btn btn-success">{% trans "resitate" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
