{% extends 'base.html' %}

{% block title %}Registrar Driver - Agroconnect{% endblock %}

{% block header_title %}Registro de Driver{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Registro de Driver</h2>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <h4>Información de Usuario</h4>
                        {{ form.as_p }} <!-- Formulario de Usuario -->
                    </div>
                    <div class="col-md-6">
                        <h4>Perfil de Driver</h4>
                        {{ driver_form.as_p }} <!-- Formulario de Driver -->
                        <h4>Información del Truck</h4>
                        {{ truck_form.as_p }} <!-- Formulario de Truck -->
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Registrarse</button>
            </form>
        </div>
    </div>
{% endblock %}
